uvicorn~=0.27.0.post1
DateTime~=4.7
fastapi~=0.65.1
pydantic~=1.10.13
databases~=0.8.0
python-jose
passlib~=1.7.4
httpx~=0.26.0
starlette~=0.14.2
PyJWT~=2.1.0
celery~=5.2.7
redis==3.5.3
asyncpg
python-multipart
SQLAlchemy~=1.4.22
jose~=1.0.0
motor~=3.3.2
config~=0.5.1
alembic~=1.7.5
pymongo